body{

    margin: 0 !important;
    padding: 0 !important;
    background-color: #f8f9fa !important;
    #__next{
        // background-image: url('../images/work.jpg');
        // background-repeat: no-repeat;
        // background-size: cover;
    }
}